/* Style the footer */
footer {
    background-color: #333;
    /* Background color */
    color: white;
    /* Text color */
    text-align: center;
    /* Center-align the content */
    padding: 10px;
    /* Add some padding for spacing */
    width: 100%;
    bottom: 0;
    position: fixed;
    /* margin-bottom: 0; */
}